<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block title %}Home Page{% endblock %}


{% block content %}

<h1 style="color: rgb(139, 61, 91);"><b>predLyP</b></h1> <br>
<h1 style="color: darkslateblue;"><b>predLyP: Predicts protein peptides in Lysosome</b></h1> <br>

<div class="center">
    
    <p><b>predLyP</b> predicts potential cutting sites cleaved by proteases in the Lysosomes.</p>
    
    <hr><br>
    <img src="static/assets/Picture1.png" class="concept">
</div>





{% endblock %}